.bg-primary {
     background-color: #ffcd00;
     background-image: linear-gradient(315deg, #ffcd00 0%, #005238 74%);
}

.btn-bd-primary {
     --bd-violet-bg: #2cf947;
     --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
     --bs-btn-font-weight: 600;
     --bs-btn-color: var(--bs-white);
     --bs-btn-bg: var(--bd-violet-bg);
     --bs-btn-border-color: var(--bd-violet-bg);
     --bs-btn-hover-color: var(--bs-white);
     --bs-btn-hover-bg: #28e041;
     --bs-btn-hover-border-color: #28e037;
     --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
     --bs-btn-active-color: var(--bs-btn-hover-color);
     --bs-btn-active-bg: #23c847;
     --bs-btn-active-border-color: #28c823;
}

.bd-mode-toggle {
     z-index: 1500;
}

     .bd-mode-toggle .dropdown-menu .active .bi {
          display: block !important;
     }


.img-fit {
     width: 200px;
     height: 200px;
     object-fit: cover;
}

#transactionSearch {
     margin-bottom: 20px;
}

.table-responsive {
     overflow-x: auto;
}


/**/

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Custom CSS for Bootstrap dark theme */
[data-bs-theme='dark'] {
     --title-color: hsl(228, 8%, 95%) !important;
     /* Override text color */
     --text-color: hsl(228, 8%, 65%) !important;
     /* Add secondary background color */
     --secondary-bg-color: hsl(228, 15%, 15%) !important;
     /* Add primary background color */
     --primary-bg-color: hsl(228, 15%, 20%) !important;
     /* Add any other customizations */
}

/* Custom CSS for Bootstrap light theme */
[data-bs-theme='light'] {
     --title-color: hsl(0, 0%, 0%) !important;
     /* Override text color */
     --text-color: hsl(0, 0%, 0%) !important;
     /* Add secondary background color */
     --secondary-bg-color: hsl(0, 0%, 80%) !important;
     /* Add primary background color */
     --primary-bg-color: hsl(0, 0%, 90%) !important;
     /* Add any other customizations */
}

/* VARIABLES */
:root {
     --header-height: 3rem;
     /* COLOR */
     --hue: 130;
     --first-color: hsl(var(--hue), 100%, 40%);
     --first-color-alt: hsl(var(--hue), 56%, 35%);
     --title-color: hsl(228, 8%, 95%);
     --text-color: hsl(228, 8%, 65%);
     --body-color: hsl(228, 15%, 20%);
     --container-color: hsl(228, 15%, 15%);
     /* FONT AND TYPOGRAPHY */
     --body-font: "Poppins", sans-serif;
     --biggest-font-size: 2rem;
     --bigger-font-size: 1.25rem;
     --h1-font-size: 1.5rem;
     --h2-font-size: 1.25rem;
     --h3-font-size: 1rem;
     --normal-font-size: .938rem;
     --small-font-size: .813rem;
     --smaller-font-size: .75rem;
     /* FONT WEIGHT */
     --font-regular: 400;
     --font-medium: 500;
     --font-semi-bold: 600;
     /* INDEX */
     --z-tooltip: 10;
     --z-fixed: 100;
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width: 1152px) {
     :root {
          --biggest-font-size: 4rem;
          --bigger-font-size: 2rem;
          --h1-font-size: 2.25rem;
          --h2-font-size: 1.5rem;
          --h3-font-size: 1.25rem;
          --normal-font-size: 1rem;
          --small-font-size: .875rem;
          --smaller-font-size: .813rem;
     }
}

/* BASE */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

html {
     scroll-behavior: smooth;
}

input,
textarea,
button,
body {
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
}

body {
     background-color: var(--body-color);
     color: var(--text-color);
}

input,
textarea,
button {
     outline: none;
     border: none;
}

h1, h2, h3, h4 {
     color: var(--title-color);
     font-weight: var(--font-medium);
}

ul {
     list-style: none;
}

a {
     text-decoration: none;
}

img {
     height: auto;
     max-width: 100%
}

/* CLASSES */
.container {
     max-width: 1120px;
}

.grid {
     display: grid;
     gap: 1.5rem;
}

/*.section {
    padding-block: rem 2rem;
}*/

.section_title, .section_subtitle {
     text-align: center;
     color: var(--title-color);
     font-weight: var(--font-semi-bold);
}

.section_title {
     font-size: var(--h1-font-size);
     margin-top: .25rem;
     margin-bottom: 1rem;
}

.section_subtitle {
     font-size: var(--small-font-size);
     margin-top: .5rem;
     margin-bottom: .25rem;
}

     .section_subtitle span {
          color: var(--first-color);
     }

.main {
     overflow: hidden;
     margin-top: calc(var(--header-height) + 1.5rem);
     padding-bottom: 1.5rem;
}

.button {
     display: inline-block;
     background-color: var(--first-color);
     padding: 1rem 1.75rem;
     border-radius: .5rem;
     color: var(--title-color);
     font-weight: var(--font-medium);
     transition: box-shadow .4s;
}

     .button:hover {
          box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
     }

/* HEADER AND NAV */
.header {
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: var(--z-fixed);
     background-color: var(--secondary-bg-color);
}

.navbar {
     z-index: var(--z-tooltip);
     box-shadow: 0 .5rem 1rem hsla(0, 0%, 0%, .3);
}

.nav_container {
     height: var(--header-height);
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.nav_logo {
     color: var(--title-color);
     font-weight: var(--font-medium);
     font-size: var(--bigger-font-size);
}

     .nav_logo span {
          color: var(--first-color);
     }

.nav_toggle, .nav_close {
     display: flex;
     font-size: 1.25rem;
     color: var(--title-color);
     cursor: pointer;
}

/* MOBILE */
@media screen and (max-width: 1023px) {
     .nav_menu {
          position: fixed;
          top: 0;
          right: -100%;
          background-color: hsla(0, 0%, 0%, .4);
          width: 75%;
          height: 100%;
          padding: 4.5rem 0 0 3rem;
          backdrop-filter: blur(24px);
          -webkit-backdrop-filter: blur(24px); /* safari */
          transition: right .4s;
          z-index: var(--z-fixed);
     }
}

.nav_list {
     display: flex;
     flex-direction: column;
     row-gap: 3rem;
     margin-block: .5rem;
}

.nav_link {
     color: var(--title-color);
     font-weight: var(--font-medium);
     transition: color .4s;
}

     .nav_link:hover {
          color: var(--first-color);
     }

.nav_close {
     position: absolute;
     top: 1rem;
     right: 1.5rem;
}


/* SHOW MENU */

.show-menu {
     right: 0;
}

/* BLUR */

.blur-header {
     background-color: transparent;
}

     .blur-header::after {
          content: '';
          position: absolute;
          width: 1000%;
          height: 100%;
          background-color: hsla(0, 0%, 100%, .4);
          backdrop-filter: blur(24px);
          -webkit-backdrop-filter: blur(24px); /* safari */
          top: 0;
          left: 0;
          z-index: -1;
     }

.nav_item {
     margin-top: calc(var(--header-height) / 5);
}

.nav_btn {
     color: var(--title-color);
     font-weight: var(--font-medium);
     transition: color .4s;
     background-color: var(--first-color);
     padding: .25rem .75rem;
     border-radius: .5rem;
     color: var(--title-color);
     font-weight: var(--font-medium);
     margin-top: .5rem;
}

     .nav_btn:hover {
          box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
     }

/* FOOTER */
.footer {
     background-color: var(--container-color);
     padding-block: 1rem;
}

.footer_container {
     text-align: center;
}

.footer_title {
     font-size: var(--h1-font-size);
     font-weight: var(--font-semi-bold);
     margin-bottom: .25rem;
}

     .footer_title span {
          color: var(--first-color);
     }

.footer_grade {
     font-size: var(--normal-font-size);
}

.footer_social {
     display: flex;
     justify-content: center;
}

.footer_social-link {
     background-color: var(--first-color-alt);
     padding: .5rem;
     color: var(--title-color);
     font-size: 1.5rem;
     clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
     transition: transform .4s;
}

     .footer_social-link:hover {
          transform: translateY(-.25rem);
     }

.footer_copy {
     font-size: var(--smaller-font-size);
}

/* SCROLL BAR */
::-webkit-scrollbar {
     width: .6rem;
     border-radius: .5rem;
     background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
     background-color: hsl(228, 8%, 35%);
     border-radius: .5rem;
}

     ::-webkit-scrollbar-thumb:hover {
          background-color: hsl(228, 8%, 45%);
     }

/* BREAKPOINTS */

/* SMALL */
@media screen and (max-width: 320px) {
     .container {
          margin-inline: 1rem;
     }
}


/* MEDIUM */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
     .nav_menu {
          width: 55%;
     }

     .section_title {
          font-size: 2.75rem;
     }

     .footer_container {
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          text-align: initial;
     }
}

/* LARGE */
@media screen and (min-width: 1023px) {
     .section {
          padding-block: 7rem 2rem;
     }

     .nav {
          height: calc(var(--header-height) + 1.5rem);
     }

     .nav_close, .nav_toggle {
          display: none;
     }

     .nav_list {
          flex-direction: row;
          column-gap: 3rem;
     }

     .nav_menu {
          width: initial;
     }

     .blur-header::after {
          backdrop-filter: blur(25px);
          -webkit-backdrop-filter: blur(25px); /* safari */
     }
}

@media screen and (min-width: 1152px) {
     .container {
          margin-inline: auto;
     }

     .footer {
          padding-block: 2.5rem 2rem;
     }

     .footer_title {
          font-size: var(--bigger-font-size)
     }

     .footer_social {
          column-gap: 1.5rem;
     }

     .footer_copy {
          margin: 0;
          justify-self: flex-end;
     }
}
